*{
    font-family: 'Press Start 2P', cursive;
}

.jogo{
    background-color: rgb(172, 172, 172);
    border: 4px solid black;
    width: 408px;
    height: 408px;
}

h1{
    text-align: center;
    font-size: 2rem;
    color: rgb(32, 156, 238);
}

.centro {
    margin: auto;
    width: 50%;
    background-color: rgb(219, 217, 215);
    padding: 10px;
    border-radius: 5%;
  }

body{
    background-color: rgb(244, 242, 240);
    
}
.corpo{
    margin: 5px auto;
    display: flex;
    justify-content: center;   

}

#barra{
    width: 60%;
    margin: 0 auto;
    display: flex;

}

#regras{
    width: 28%;
    border-right: none;
}

#botao{
    margin: 15px auto;
    display: flex;
    
}

#vitoria{
    width: 60%;
    display: none;
    margin: 15px auto;
    
}

.flex{
    display: flex;
}
